<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,89}</string>
                <key>spriteSourceSize</key>
                <string>{103,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{75,89}</string>
                <key>textureRect</key>
                <string>{{92,365},{75,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{103,92},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{1,365},{90,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{100,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{1,274},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{1,183},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,89}</string>
                <key>spriteSourceSize</key>
                <string>{101,89}</string>
                <key>textureRect</key>
                <string>{{106,1},{101,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{96,274},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{101,183},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_x copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{68,83}</string>
                <key>textureRect</key>
                <string>{{183,366},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,69}</string>
                <key>textureRect</key>
                <string>{{92,442},{55,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inactive_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1,510},{28,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inactive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{1,457},{51,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inactive_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{209,75},{44,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{201,221},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{209,1},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{203,147},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{191,296},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inactive_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{73,499},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inactive_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{50,71}</string>
                <key>textureRect</key>
                <string>{{163,451},{50,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inactive_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,50}</string>
                <key>spriteSourceSize</key>
                <string>{41,50}</string>
                <key>textureRect</key>
                <string>{{145,503},{41,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>multiplier_number.png</string>
            <key>size</key>
            <string>{256,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb9116b8df8b9a746fc05d3daa060b7:1b911a46f1cb8263c38f8a4698daf564:df86a7a9d8eb1bd4ccb67ca7d2cd793c$</string>
            <key>textureFileName</key>
            <string>multiplier_number.png</string>
        </dict>
    </dict>
</plist>
