<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>free_spin_collect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,37}</string>
                <key>spriteSourceSize</key>
                <string>{149,37}</string>
                <key>textureRect</key>
                <string>{{357,1254},{149,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_spin_info_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,298}</string>
                <key>spriteSourceSize</key>
                <string>{313,298}</string>
                <key>textureRect</key>
                <string>{{1,815},{313,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_spin_info_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,129}</string>
                <key>spriteSourceSize</key>
                <string>{276,129}</string>
                <key>textureRect</key>
                <string>{{357,1293},{276,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>free_spin_info_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,96}</string>
                <key>spriteSourceSize</key>
                <string>{374,96}</string>
                <key>textureRect</key>
                <string>{{1,146},{374,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_spin_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{357,893},{110,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>free_spin_totalwin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,226}</string>
                <key>spriteSourceSize</key>
                <string>{360,226}</string>
                <key>textureRect</key>
                <string>{{1,244},{360,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_freespin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,39}</string>
                <key>spriteSourceSize</key>
                <string>{435,39}</string>
                <key>textureRect</key>
                <string>{{1,64},{435,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_freespin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,39}</string>
                <key>spriteSourceSize</key>
                <string>{667,39}</string>
                <key>textureRect</key>
                <string>{{316,815},{667,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_bar_rule_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,39}</string>
                <key>spriteSourceSize</key>
                <string>{669,39}</string>
                <key>textureRect</key>
                <string>{{377,222},{669,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_bar_rule_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,77}</string>
                <key>spriteSourceSize</key>
                <string>{626,77}</string>
                <key>textureRect</key>
                <string>{{418,626},{626,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_bar_rule_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,39}</string>
                <key>spriteSourceSize</key>
                <string>{340,39}</string>
                <key>textureRect</key>
                <string>{{1,472},{340,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_rule_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,39}</string>
                <key>spriteSourceSize</key>
                <string>{424,39}</string>
                <key>textureRect</key>
                <string>{{1,105},{424,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_rule_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,61}</string>
                <key>spriteSourceSize</key>
                <string>{481,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_win_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{438,64},{66,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bar_win_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{377,146},{74,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_info_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,62}</string>
                <key>spriteSourceSize</key>
                <string>{520,62}</string>
                <key>textureRect</key>
                <string>{{438,104},{520,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143.5,29}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{290,61}</string>
                <key>textureRect</key>
                <string>{{484,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>special_win_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,300}</string>
                <key>spriteSourceSize</key>
                <string>{338,300}</string>
                <key>textureRect</key>
                <string>{{1,513},{338,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>special_win_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,219}</string>
                <key>spriteSourceSize</key>
                <string>{294,219}</string>
                <key>textureRect</key>
                <string>{{1,1115},{294,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>special_win_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,262}</string>
                <key>spriteSourceSize</key>
                <string>{226,262}</string>
                <key>textureRect</key>
                <string>{{1,1336},{226,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>transition_main_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,39}</string>
                <key>spriteSourceSize</key>
                <string>{435,39}</string>
                <key>textureRect</key>
                <string>{{1,64},{435,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text_atlas.png</string>
            <key>size</key>
            <string>{507,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d82be52be23ea8c98950d219ab7154:2316e46370045c9021f7ef94e5f4b3d2:3421752e0ef24eb55a61b6b633426e5c$</string>
            <key>textureFileName</key>
            <string>text_atlas.png</string>
        </dict>
    </dict>
</plist>
