<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{189,1},{58,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{56,65},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>History 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{200,61},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{63,1},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>More btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{257,95},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paytable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,65},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{126,1},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{154,64},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{106,64},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Sound_Off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{281,95},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound Off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{257,61},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{303,1},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turbo Off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{246,1},{58,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{303,56},{58,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hud_icons.png</string>
            <key>size</key>
            <string>{361,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da748a7f6eb90453c4a9e68e506a790c:b62e93f712e270c2abc72406d6fe4d4f:e83125956a386bd4d111a7fae27c2520$</string>
            <key>textureFileName</key>
            <string>hud_icons.png</string>
        </dict>
    </dict>
</plist>
