<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,68}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button_status.png</string>
            <key>size</key>
            <string>{370,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10f55cea8eefef4a8841d53be1df4db9:bb310bf32ecee46b75d88efc88f221e0:63e736ee5c83c782668a458dd98bc75e$</string>
            <key>textureFileName</key>
            <string>button_status.png</string>
        </dict>
    </dict>
</plist>
