<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,57}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{572,56},{66,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{75,65},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{144,1},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{151,63},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,73},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{510,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{218,1},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{225,63},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{292,1},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{299,63},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{631,1},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{631,60},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{508,60},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{444,60},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{373,60},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{439,1},{69,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{366,1},{71,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemBlurAtlas.png</string>
            <key>size</key>
            <string>{697,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:981cb9b38a772aeb2a5178ad9fe61fc5:9baff1f7229a335d618813eddcd564cd:422ea666765103777684d3a3b89ff35d$</string>
            <key>textureFileName</key>
            <string>itemBlurAtlas.png</string>
        </dict>
    </dict>
</plist>
