<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{1224,1},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,53}</string>
                <key>spriteSourceSize</key>
                <string>{74,53}</string>
                <key>textureRect</key>
                <string>{{483,1},{74,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{559,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{633,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{707,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{781,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{855,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{929,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1003,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1077,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{65,54}</string>
                <key>textureRect</key>
                <string>{{416,1},{65,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{349,1},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{215,1},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{281,1},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,58}</string>
                <key>spriteSourceSize</key>
                <string>{73,58}</string>
                <key>textureRect</key>
                <string>{{140,1},{73,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{69,1},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{1292,1},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{1151,1},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemAtlas.png</string>
            <key>size</key>
            <string>{1362,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9491da7eeb7a2cf474ccf3e4b20542f3:a09c7b75e2f598e9ff465aafcb7d1c16:065b64e40282b2c85598b9d0aa6c514e$</string>
            <key>textureFileName</key>
            <string>itemAtlas.png</string>
        </dict>
    </dict>
</plist>
